body {
  font-family: "CustomFont", sans-serif!important;
  background-color: #1B262C!important;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

label {
  color: #fff;
}